---
import Layout from '../layouts/Layout.astro';
import TerminalHero from '../components/TerminalHero';
import BentoGrid from '../components/BentoGrid.astro';
import Footer from '../components/Footer.astro';
import StarsBackground from '../components/StarsBackground.astro';
import Philosophy from '../components/Philosophy.astro';
---

<Layout title="Inicio">
    
    <StarsBackground />

    <section class="min-h-[80vh] flex flex-col justify-center relative">
		<TerminalHero client:load />
	</section>
	<Philosophy />
    <BentoGrid />

    <Footer />

</Layout>