---
import '@fontsource/jetbrains-mono';
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="STIBIOS - Software Studio & Labs" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | STIBIOS</title>
	</head>
	<body class="bg-stibios-bg text-stibios-text font-mono antialiased selection:bg-stibios-accent selection:text-stibios-bg">
		<div class="fixed inset-0 z-[-1] opacity-5 pointer-events-none mix-blend-overlay" 
             style="background-image: url('data:image/svg+xml,%3Csvg viewBox=%220 0 200 200%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cfilter id=%22noiseFilter%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%220.65%22 numOctaves=%223%22 stitchTiles=%22stitch%22/%3E%3C/filter%3E%3Crect width=%22100%25%22 height=%22100%25%22 filter=%22url(%23noiseFilter)%22/%3E%3C/svg%3E');">
        </div>

		<main class="min-h-screen flex flex-col relative overflow-hidden">
			<slot />
		</main>
	</body>
</html>